@use "../algebra" as alg;

// Taken from color.js
$XYZtoLMS: (
  (0.8190224432164319,   0.3619062562801221, -0.12887378261216414),
  (0.0329836671980271,   0.9292868468965546,  0.03614466816999844),
  (0.048177199566046255, 0.26423952494422764, 0.6335478258136937)
);

$LMStoXYZ: (
  ( 1.2268798733741557,  -0.5578149965554813,   0.28139105017721583),
  (-0.04057576262431372,  1.1122868293970594,  -0.07171106666151701),
  (-0.07637294974672142, -0.4214933239627914,   1.5869240244272418)
);

@function to-xyz($lms) {
  $xyz: alg.vm-dot($lms, $LMStoXYZ);

  @return (
    nth($xyz, 1)
    nth($xyz, 2)
    nth($xyz, 3)
  );
}

@function from-xyz($xyz) {
  $lms: alg.vm-dot($xyz, $XYZtoLMS);

  @return (
    nth($lms, 1)
    nth($lms, 2)
    nth($lms, 3)
  );
}
