@use "sass:math";
@use "sass:list";

$CUBE: math.div(1, 3);

@function vm-dot($vector, $matrix) {
  $result: ();
  @for $i from 1 through list.length($matrix) {
    $result: list.append(
      $result,
      v-dot($vector, list.nth($matrix, $i))
    );
  }
  @return $result;
}

@function v-dot($a, $b) {
  $result: 0;

  @for $i from 1 through list.length($a) {
    $result: $result + list.nth($a, $i) * list.nth($b, $i);
  }

  @return $result;
}

@function cbrt($x) {
  @return math.pow($x, $CUBE);
}
